################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ecommerce.services.blobsapi/.vs
/.vs
/ecommerce.services.blobsapi/ecommerce.services.blobsapi/bin/Debug/net6.0
/ecommerce.services.blobsapi/ecommerce.services.blobsapi/obj
